body{
    background-color: rgb(228, 228, 228);
}
h1{
    font-size: 25px;
    text-align: center;
    font-family: 'Handjet', cursive;
    font-family: 'IBM Plex Mono', monospace;
    margin-top: 5px;
}
    img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    background: #dfdfdf;
    position: relative;
}
input{
    margin-top:25px;
    margin-left: 70px;
}
footer{
    color: rgb(0, 0, 0);
    font-family: 'Handjet', cursive;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 300px;
}